/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .toggle_menu{
        left: 80%;
    }
    .resume_left, .resume_right, .resume_left h3, .resume_right h3{
        text-align: center;
    }
    form input, form textarea{
        width: 100%;
    }
    form input.submit{
        margin-left: 25%;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
    .toggle_menu{
        left: 75%;
    }
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body, button{
    font-family: 'Helvetica Neue', arial, sans-serif;
}

.controls{
    padding: 2%;
    color: #eee;
}

label{
    font-weight: 300;
    margin: 0 .4em 0 0;
}

h3{
    font-size: 20px;
    font-weight: 500;
    color: white;
    margin-bottom: .5em;
}

button{
    display: inline-block;
    padding: .4em .8em;
    background: #666;
    border: 0;
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
}

button.active{
    background: #68b8c4;
}

button:focus{
    outline: 0 none;
}

button + label{
    margin-left: 1em;
}

.portfolio_grid {
    padding: 2% 2% 0;
    text-align: justify;
    font-size: 0.1px;
    background: transparent;

    -webkit-backface-visibility: hidden;
}

.portfolio_grid :after{
    content: '';
    display: inline-block;
    width: 100%;
}

.portfolio_grid .mix,
.portfolio_grid .gap{
    display: inline-block;
    width: 49%;
}

.portfolio_grid .mix{
    text-align: left;
    background: #03899c;
    margin-bottom: 2%;
    display: none;
}

.portfolio_grid .portfolio_item1{
    background: url("../img/portfolio-images/1.jpg");
}

.portfolio_grid .portfolio_item2{
    background: url("../img/portfolio-images/2.jpg");
}
.portfolio_grid .portfolio_item3{
    background: url("../img/portfolio-images/3.jpg");
}
.portfolio_grid .portfolio_item4{
    background: url("../img/portfolio-images/4.jpg");
}
.portfolio_grid .portfolio_item5{
    background: url("../img/portfolio-images/5.jpg");
}
.portfolio_grid .portfolio_item6{
    background: url("../img/portfolio-images/6.jpg");
}
.portfolio_grid .portfolio_item7{
    background: url("../img/portfolio-images/2.jpg");
}
.portfolio_grid .portfolio_item8{
    background: url("../img/portfolio-images/4.jpg");
}

.portfolio_grid .mix:after{
    content: attr(data-myorder);
    color: white;
    font-size: 16px;
    display: inline-block;
    vertical-align: top;
    padding: 4% 6%;
    font-weight: 700;
}

.portfolio_grid .mix:before{
    content: '';
    display: inline-block;
    padding-top: 60%;
}

@media all and (min-width: 420px){
    .container .mix,
    .container .gap{
        width: 32%;
    }
}

@media all and (min-width: 640px){
    .container .mix,
    .container .gap{
        width: 23.5%;
    }
}